/* Ajustes generales */
@import url("./general.css");

.foto_grupo {
  object-fit: cover;
  height: 400px;
  /* width: 500px; */
  margin: 40px 0;
  border-radius: 20px;
}

/* Landscape pricipal  */
.about-us {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.landscape {
  width: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landscape h1 {
  color: var(--white);
  background-color: #000000b6;
  border-radius: 20px;
  font-size: var(--llg);
  /* width: 138px; */
  padding: 20px;
}

.landscape p {
  margin: 50px 120px 10px 120px;
  padding: 20px;
  font-size: var(--md);
  color: var(--very-light-pink);
  background-color: #00000081;
  border-radius: 20px;
  border: 0;
  /* min-width: 300px;
    max-width: 900px; */
}


/* Mobile */
@media (max-width: 716px) {
  .foto_grupo {
    height: 200px;
    width: 300px;
  }

  .landscape {
    height: auto;
    padding: 90px 0 20px 0;
    align-items: center;
  }
  .landscape h1 {
    text-align: center;
    margin: 0;
  }
  .landscape:nth-child(1) h1 {
    margin-top: 24px;
  }
  .landscape p {
    margin: 38px 38px 0 38px;
  }
}
