@import url('./general.css');
/* Login */
main{
    height: calc(100vh - 100px);
    min-height: 0;
}
.container_login{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_login h1{
    color: var(--hospital-green);
}
.cuenta_pasos{
    display: flex;
    padding: 0 20px 10px 10px;
}
.cuenta_pasos li {
    font-size: var(--md);
    color: var(--hospital-green-black);
    cursor: pointer;
}
.cuenta_pasos .pasos_inactive{
    color: var(--white);
}
.title{
    color: var(--black);
    font-size: var(--llg);
}
.subtitle {
    /* padding: 50px 0 0px 100px; */
    margin-bottom: 10px;
    font-size: var(--mmd);
    color: var(--white);
}
.login_into{
    max-width: 100%;
    background-color: var(--deep-ocean); 
    border-radius: 20px;
    position: relative;
    box-shadow: 13px 15px 14px -3px rgba(0,0,0,0.76);
-webkit-box-shadow: 13px 15px 14px -3px rgba(0,0,0,0.76);
-moz-box-shadow: 13px 15px 14px -3px rgba(0,0,0,0.76);
}
.login_options{
    padding: 20px 32px 32px 32px;
}
.login_options a, p{
    text-align: center;
    color: var(--white);
    margin: 0 auto;
    display: block;    
    font-size: var(--sm);
}
.container_option{
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    
}
.container_option input{
    border-radius: 8px;
    background-color: var(--text-input-field);
    font-size: var(--sm);
    height: 30px;
}
.container_option label{
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.primary_btn{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    background-color: var(--hospital-green-black);
    color: var(--white);
    font-weight: bold;
    font-size: var(--sm);
    cursor: pointer;
}
.tienes_cuenta{
    position: absolute;
    margin: 14px auto !important;
    bottom: 0;
}
.login_crear_cuenta{
    margin: 20px 40px;
}
.create_two_op{
    display: flex;
    align-items: center;
}
.create_two_op p{
    color: var(--white);
    font-size: var(--sm);
    margin: 0 10px 0 10px;
}
.crear_foto_perfil{
    height: auto !important;
}
.input_rol{
    padding-left: 10px;
}
.select_menu{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    font-size: var(--sm);
}

@media (max-width:716px) {
    main{
        min-height: 100vh;
    }
}