/* Ajustes generales */
*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --hospital-green-black: #3bdb50;
    --deep-ocean: #0a0e16;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --ssm: 24px;
    --mmd: 28px;
    --llg: 32px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
a {
    color: #000; 
    text-decoration: none; 
}
a:hover {
    text-decoration: none;
}
ul, li {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
  
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.hamburgesa_menu{
    display: none;
}
/* Cabezera y barra de navegacion */
.navBar{
    background-color: var(--deep-ocean);
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--very-light-pink);
    height: 70px;
    width: auto;
}
.navBar .logo{
    display: flex;
    height: 70px;
    align-items: center;
}
.navBar .logo p{
    color: var(--white);
}
.navBar .logo span{
    font-weight: bold;
    color: var(--hospital-green-black);
}
.navBar .logo img{
    height: 70px;
    position: relative;
}
.opciones{
    margin-left: 32px;
    width: auto;
}
.general_nav{
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    width: 100%;
}
.second_nav{
    display: flex;
}

.into_btn{
    padding: 10px;
}
.into_btn a{
    color: var(--very-light-pink);
}
.into_btn a:hover{
    color: var(--hospital-green-black);
    font-weight: bold; 
}
.perfil{
    position: absolute;
    right:0;
    margin-right: 10px;
}

/* Barra de navegacion secundaria */
nav{
    height: 20px;
    background-color: var(--hospital-green-black);

}
nav a{
    padding-left: 20px;
    font-size: var(--sm);
    color: var(--white);
}

/* Landscape pricipal  */
.landscape{
    background-image: url('../multimedia/landscape_home_auto_x2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: var(--white);
    font-size: var(--llg);
    padding: 50px 0 0 100px;
}
.landscape p{
    /* ojo */
    margin: 50px 120px 10px 120px;
    padding: 20px;
    font-size: var(--md);
    color: var(--white);
    background-color: #00000081; 
    border-radius: 20px;
}

/* Barra de busqueda */
.land_busqueda{
    margin-top: 50px;
}
.land_busqueda form{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.land_buscar_input{
    height: 44px;
    width: 500px;
    border-radius: 20px 0 0 20px;
    text-align: center;
    background-color: var(--text-input-field);
    font-size: var(--lg);
    
}
.land_btn_buscar{
    height: 44px;
}
.land_btn_buscar img{
    height: 20px;
    padding-left: 10px;
}
.buscar_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hospital-green-black);
    border-radius: 0 20px 20px 0;
    font-size: var(--sm);
    
    font-family: 'Quicksand', sans-serif;
    color: var(--white)
}

/* Seccion de funcionalidades */
.funcionalidades{
    background-image: linear-gradient(to bottom, #0a0e16, #182735, #1b4255, #136073, #007f8c); 
}
.subtitle{
    padding: 50px 0 0px 100px;
    font-size: var(--mmd);
    color: var(--white);
}
.funcionalidades .fun_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 48px;
}
.funcionalidades .fun_cards .cards_into{
    border: 1px solid var(--black);
    border-radius: 20px;
    margin: 20px;
    width: 254px;
    position: relative;
    box-shadow: 16px 12px 16px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 16px 12px 16px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 12px 16px 4px rgba(0,0,0,0.75);
}
.funcionalidades .fun_cards .cards_into:hover{
    box-shadow: -2px 1px 43px 5px rgba(20,224,73,0.78);
    -webkit-box-shadow: -2px 1px 43px 5px rgba(20,224,73,0.78);
    -moz-box-shadow: -2px 1px 43px 5px rgba(20,224,73,0.78);
    
}
.funcionalidades .fun_cards .cards_into img{
    position: relative;
    width: 250px;
    height: 250px;
}
.cards_info{
    background-color: var(--hospital-green-black);
    border-radius: 0 0 20px 20px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards_info p{
    color: var(--white);
}
.fun_extra_info{
    position: absolute;
    background-color: rgba(2, 49, 8, 0.609);
    height: 255px;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    color: var(--white);
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.fun_extra_info:hover{
    opacity: 1;
}

/* Seccion de ejemplos */
.vermas{
    position: absolute;
    margin-right: 20px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(2, 49, 8, 0.609); */
    padding: 10px;
    border-radius: 20px 20px 0 0;
    color: var(--white);
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vermas:hover{
    opacity: 1;
}

.ejemplos{
    background-image: url('../multimedia/fondo_ejem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.ejem_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}
.ejem_cards_info{
    margin: 0 20px 20px 20px;
    padding-right: 20px;
    position: relative;
}
.ejem_cards_info p{
    background-color: var(--hospital-green-black);
    color: var(--white);
    padding: 8px;
    position: relative;
}
.ejem_cards_info img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.ejemplos .video_ejem{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.ejemplos .video_ejem iframe{
    width: 942px;
    height: 530px;
}
/* Seccion de unete */
.unete_container{
    height: 400px;
    background-image: linear-gradient(to bottom, #0a0e16, #182735, #1b4255, #136073, #007f8c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.unete_container h2{
    margin-bottom: 40px;
}
.primary_btn{
    /* height: 65px;
    width: 250px;
    border-radius: 20px;
    background-color: var(--hospital-green-black);
    color: var(--white);
    font-size: var(--md);
    font-weight: bold; */


    width: 50%;
    height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    background-color: var(--hospital-green-black);
    color: var(--white);
    font-weight: bold;
    font-size: var(--sm);
}
.unete_container .unete_btn{
    height: 65px;
    width: 250px;
    border-radius: 20px;
    background-color: var(--hospital-green-black);
    color: var(--white);
    font-size: var(--md);
    font-weight: bold; 
}
/* Seccion de footer */
footer{
    height: 100px;
    background-color: var(--deep-ocean);
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}
.footer_logo img{
    height: 100px;
    position: absolute;
    left: 0;
}
.footer_central_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_info ul{
    display: flex;
    
}
.footer_info ul li{
    padding: 20px;
}
.footer_info ul li a{
    color: var(--white);
    font-size: var(--sm);
}
.footer_add_info p{
    color: var(--white);
    font-size: var(--sm);
}
.footer_redes{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}


/* Mobile */
@media (max-width:716px) {
    :root{
        --sm: 12px;
        --md: 14px;
        --lg: 16px;
        --ssm: 18px;
        --mmd: 22px;
        --llg: 24px;
    }
    .general_nav{
        display: inline-block;
        position: absolute;
        background-color: var(--deep-ocean);
        top: 90px;
        left: 0;
        height: 316px;
        width: 228px;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid var(--hospital-green-black);
        border-radius: 0 0 20px 0;
    }
    .inactive_nav{
        display: none !important;
    }
    .second_nav{
        display: inline-block;
    }
    .opciones{
        display: block;
        margin: 0;
    }
    .perfil{
        display: inline-block;
        position: absolute;
        bottom: 20px;
        padding-top: 12px;
        right: auto;
        border-top: 1px solid var(--hospital-green-black);
    }
    .navBar{
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }
    .hamburgesa_menu{
        display: inline-block;
        position: absolute;
        left: 0;
        width: 30px;
        margin-left: 20px;
    }

    .landscape{
        display: block;
        height: 500px;
        margin-top: 90px;
    }
    .landscape h1{
        text-align: center;
        padding: 50px 0 0 0;
    }
    .landscape p{
        margin: 38px;
    }
    .subtitle{
        text-align: center;
        padding: 20px 0 0px 0px;
    }

    .ejemplos .video_ejem iframe{
        width: 350px;
        height: 200px;
    }

    footer{
        height: auto;
        align-items: center;   
        text-align: center; 
    }
    .footer_logo img {
        height: 115px;
        left: 0px;
        top: 0;
    }
    .footer_info ul {
        display: block;
    }
    .footer_redes {
        bottom: auto;
    }
}
