/* Ajustes generales */
*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #99CC99;
    --hospital-green-black: #3bdb50;
    --deep-ocean: #0a0e16;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --ssm: 24px;
    --mmd: 28px;
    --llg: 32px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
a {
    color: #000; 
    text-decoration: none; 
}
a:hover {
    text-decoration: none;
}
ul, li {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
  
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.hamburgesa_menu{
    display: none;
}
/* Cabezera y barra de navegacion */
.navBar{
    background-color: var(--deep-ocean);
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--very-light-pink);
    height: 70px;
    width: auto;
}
.navBar .logo{
    display: flex;
    height: 70px;
    align-items: center;
}
.navBar .logo p{
    color: var(--white);
}
.navBar .logo span{
    font-weight: bold;
    color: var(--hospital-green-black);
}
.navBar .logo img{
    height: 70px;
    position: relative;
}
.opciones{
    margin-left: 32px;
    width: auto;
}
.general_nav{
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    width: 100%;
}
.second_nav{
    display: flex;
}

.into_btn{
    padding: 10px;
}
.into_btn a{
    color: var(--very-light-pink);
}
.into_btn a:hover{
    color: var(--hospital-green-black);
    font-weight: bold; 
}
.active_nav a {
    color: var(--hospital-green-black) !important;
    font-weight: bold;
}
.perfil{
    position: absolute;
    right:0;
    margin-right: 10px;
}
/* Barra de navegacion secundaria */
nav{
    height: 20px;
    background-color: var(--hospital-green-black);

}
nav a:nth-child(1){
    padding-left: 20px;
    color: var(--deep-ocean);
}
nav a{
    display: inline-block;
    font-size: var(--sm);
    color: var(--white);
}

/* Login */
.container_login{
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #0a0e16, #182735, #1b4255, #136073, #007f8c);
}
.container_login h1{
    color: var(--hospital-green);
}
.title{
    color: var(--black);
    font-size: var(--llg);
}
.login_into{
    background-color: var(--deep-ocean); 
    border-radius: 20px;
    box-shadow: 13px 15px 14px -3px rgba(0,0,0,0.76);
-webkit-box-shadow: 13px 15px 14px -3px rgba(0,0,0,0.76);
-moz-box-shadow: 13px 15px 14px -3px rgba(0,0,0,0.76);
}
.login_options{
    padding: 40px 40px 20px 40px;
    border-bottom: 1px solid var(--hospital-green);
}
.login_options a{
    text-align: center;
    color: var(--white);
    margin: 0 auto;
    display: block;
    font-size: var(--sm);
}
.container_option{
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    
}
.container_option input{
    border-radius: 8px;
    background-color: var(--text-input-field);
    font-size: var(--sm);
    height: 30px;
}
.container_option label{
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.primary_btn{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    background-color: var(--hospital-green-black);
    color: var(--white);
    font-weight: bold;
    font-size: var(--sm);
    cursor: pointer;
}
.login_crear_cuenta{
    margin: 20px 40px;
}


/* Footer */
footer{
    height: 100px;
    background-color: var(--deep-ocean);
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}
.footer_logo img{
    height: 100px;
    position: absolute;
    left: 0;
}
.footer_central_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_info ul{
    display: flex;
    
}
.footer_info ul li{
    padding: 20px;
}
.footer_info ul li a{
    color: var(--white);
    font-size: var(--sm);
}
.footer_add_info p{
    color: var(--white);
    font-size: var(--sm);
}
.footer_redes{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width:716px) {
    :root{
        --sm: 12px;
        --md: 14px;
        --lg: 16px;
        --ssm: 18px;
        --mmd: 22px;
        --llg: 24px;
    }
    .general_nav{
        display: inline-block;
        position: absolute;
        background-color: var(--deep-ocean);
        top: 90px;
        left: 0;
        height: 316px;
        width: 228px;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid var(--hospital-green-black);
        border-radius: 0 0 20px 0;
    }
    .inactive_nav{
        display: none !important;
    }
    .second_nav{
        display: inline-block;
    }
    .opciones{
        display: block;
        margin: 0;
    }
    .perfil{
        display: inline-block;
        position: absolute;
        padding-top: 12px;
        bottom: 20px;
        right: auto;
        border-top: 1px solid var(--hospital-green-black);
    }
    .navBar{
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }
    .hamburgesa_menu{
        display: inline-block;
        position: absolute;
        left: 0;
        width: 30px;
        margin-left: 20px;
    }

    .container_login {
        height: 100vh;
    }

    footer{
        height: auto;
        align-items: center;    
    }
    .footer_logo img {
        height: 115px;
        left: 0px;
        top: 0;
    }
    .footer_info ul {
        display: block;
    }
    .footer_redes {
        bottom: auto;
    }
}