@import url("./general.css");


.container-title {
  padding: 20px;
}
.title {
  color: var(--white);
  font-size: var(--llg);
}
.subtitle {
  /* padding: 50px 0 0px 100px; */
  margin-bottom: 5px;
  font-size: var(--mmd);
  color: var(--white);
}

/* Barra de busqueda */
.land_busqueda {
  margin: 20px;
  /* height: 124px; */
  /* position: relative; */
}
.land_busqueda form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.land_buscar_input {
  height: 44px;
  width: 544px;
  text-align: center;
  background-color: var(--text-input-field);
  font-size: var(--lg);
  border-radius: 20px 0 0 20px;
}
.land_btn_buscar {
  border-radius: 0 20px 20px 0;
}
.land_btn_buscar img {
  height: 20px;
}
.buscar_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hospital-green-black);
  height: 44px;
  width: 60px;
  font-size: var(--sm);
  border: none;
  font-family: "Quicksand", sans-serif;
  color: var(--white);
  cursor: pointer;
}
.container-filtos {
  margin-right: 20px;
  padding: 8px;
  background-color: var(--hospital-green-black);
  border-radius: 20px;
  color: var(--white);
}
.filtros {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}
.container_option {
  padding: 10px 20px 10px 10px;
}

/* Resultados */
.container-resultados {
  min-height: calc(100vh - 450px);
}
.subtitle-resultados {
  padding: 20px;
}
.ejemplos {
  background-image: url("../multimedia/fondo_ejem.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ejem_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.ejem_cards_info {
  margin: 0 20px 20px 20px;
  padding-right: 20px;
  position: relative;
}
.ejem_cards_info p {
  background-color: var(--hospital-green-black);
  color: var(--white);
  padding: 8px;
  font-style: italic;
}
.ejem_cards_info img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.vermas {
  position: absolute;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  /* background-color: rgba(2, 49, 8, 0.609); */
  padding: 10px;
  border-radius: 20px 20px 0 0;
  color: var(--white);
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vermas:hover {
  opacity: 1;
}
.primary_btn {
  width: 50%;
  height: 40px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  background-color: var(--hospital-green-black);
  color: var(--white);
  font-weight: bold;
  font-size: var(--sm);
}

/* Sin resultados */
.sin_resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.sin_resultados h3 {
  font-size: var(--ssm);
  color: var(--very-light-pink);
}
.sin_resultados img {
  border-radius: 50%;
  height: 400px;
}

/* Mobile */
@media (max-width: 716px) {
  /* busqueda y filtros */
  .land_busqueda {
    position: relative;
    height: 124px;
  }
  .container-filtos {
    position: absolute;
    top: 50px;
    margin-right: 0px;
    border-radius: 0 0 20px 20px;
    width: 100%;
  }
  .land_buscar_input {
    border-radius: 20px 0 0 0;
  }
  .land_btn_buscar {
    border-radius: 0 20px 0 0;
  }
  .container-resultados {
    margin-top: 104px;
  }

  .sin_resultados img {
    height: 300px;
  }
}
