/* Ajustes generales */
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --hospital-green-black: #3bdb50;
    --deep-ocean: #0a0e16;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --ssm: 24px;
    --mmd: 28px;
    --llg: 32px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* LOADGING */
.loading_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--deep-ocean);
    z-index: 9999;
}

.loading_container img {
    height: 200px;
}

.loading-area {
    display: grid;
    place-items: center;
}

.loader div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: animate 1.5s ease-in-out infinite;
    animation: animate 1.5s ease-in-out infinite;
    display: inline-block;
    margin: 0.5rem;
}

.loader div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader div:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader div:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loader div:nth-child(5) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.loader div:nth-child(6) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.loader div:nth-child(7) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@-webkit-keyframes animate {
    0%, 100% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        background-color: var(--hospital-green);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: var(--hospital-green);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: var(--hospital-green-black);
    }
}

@keyframes animate {
    0%, 100% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        background-color: var(--hospital-green);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: var(--hospital-green);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: var(--hospital-green-black);
    }
}

/* FIN LOADING */

.inactive {
    display: none !important;
}

.active_nav a {
    color: var(--hospital-green-black) !important;
    font-weight: bold;
}

.hamburgesa_menu {
    display: none;
}

/* Cabezera y barra de navegacion */
.navBar {
    background-color: var(--deep-ocean);
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--very-light-pink);
    height: 70px;
    width: auto;
}

.navBar .logo {
    display: flex;
    height: 70px;
    align-items: center;
}

.navBar .logo p {
    color: var(--white);
}

.navBar .logo span {
    font-weight: bold;
    color: var(--hospital-green-black);
}

.navBar .logo img {
    height: 70px;
    position: relative;
}

.opciones {
    margin-left: 32px;
    width: auto;
}

.general_nav {
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    width: 100%;
}

.second_nav {
    display: flex;
}

.into_btn {
    padding: 10px;
}

.into_btn a {
    color: var(--very-light-pink);
}

.into_btn a:hover{
    color: var(--hospital-green-black);
    font-weight: bold; 
}

.perfil {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
}

.perfil_email {
    display: flex;
}

.flecha_perfil {
    margin: 0 10px 0 10px;
    transform: rotate(90deg);
}

.icono_perfil {
    border: 3px solid var(--hospital-green-black);
    border-radius: 60%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    height: 40px;
}

/* Menu de registro y perfil */
.desktop-menu {
    width: 128px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 10px 10px 0 10px;
    background-color: var(--white);
    position: absolute;
}

.menu_registros {
    left: 142px;
    /* position: absolute; */
}

.menu_perfil {
    top: 40px;
    right: 0;
    /* position: absolute; */
}

.menu_perfil ul li {
    text-align: end;
}

.menu_perfil ul li:not(2) {
    font-weight: bold;
}

.desktop-menu ul li a {
    display: inline-block;
    margin-bottom: 18px;
    color: var(--black);
    text-decoration: none;
}

.desktop-menu ul li a:hover {
    color: var(--hospital-green-black);
}

.desktop-menu ul li:nth-child(2) {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.menu_perfil ul li:nth-child(2) a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

#nav_registros {
    cursor: pointer;
}

/* Barra de navegacion secundaria */
nav {
    height: 20px;
    background-color: var(--hospital-green-black);

}

nav a {
    padding-left: 20px;
    font-size: var(--sm);
    color: var(--white);
}

/* Landscape pricipal  */
.landscape {
    background-image: url('../../multimedia/landscape_home_auto_x2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 90px;
    height: 500px;
    position: relative;
}

.title {
    color: var(--white);
    font-size: var(--llg);
    padding: 50px 0 0 100px;
}

.subtitle {
    padding: 50px 0 0px 100px;
    font-size: var(--mmd);
    color: var(--white);
}

.title_bienvenida {
    position: absolute;
    bottom: 100px;
}

.title_bienvenida span {
    color: var(--hospital-green-black);
}


/* Seccion de protistas destacados*/
.ejemplos {
    background-image: url('../../multimedia/fondo_ejem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.ejem_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
    max-width: 1800px;
}

.ejem_cards_info {
    margin: 0 20px 20px 20px;
    padding-right: 20px;
}

.ejem_cards_info p {
    background-color: var(--hospital-green-black);
    color: var(--white);
    padding: 8px;
    font-style: italic;
}
.ejem_cards img{
    height: 250px;
    width: 270px;
    border-radius: 0 0 20px 20px;
    object-fit: cover;
}

/* Ver mas container */
.title_ver_prot {
    color: var(--hospital-green-black);
    font-size: var(--llg);
    font-style: italic;
}
.special_font{
    font-style: italic !important;
}

.subtitle_ver_prot {
    font-size: var(--lg);
    color: var(--black);
}

.principal_container_ver_prot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.ver_prot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.container_ver_prot {
    max-width: 700px;
    min-width: 300px;
    height: calc(100vh - 200px);
    padding: 24px;
    border-radius: 20px;
    background-color: var(--deep-ocean);
    overflow: auto;
    border: 1px solid var(--white);
}

#img_protista {
    margin: 10px auto;
    display: block;
    max-width: 400px;
    min-width: 150px;
    border-radius: 20px;
}

.ver_prot_inicio {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.ver_prot_inicio img {
    height: 20px;
    left: 20px;
    position: absolute;

}

.columns {
    display: flex;
    justify-content: space-around;
    background-color: #00cc0038;
    border-radius: 20px;
    padding: 10px 10px 0 10px;
}
.first_column{
    min-width: 50%;
}

.ver_prot_principal_info {
    margin-top: 20px;
}

.container_pricipal_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0 10px 0;
    /* justify-items: center; */

}

.container_pricipal_info h2 {
    margin-right: 10px;
    color: var(--hospital-green);
    text-align: end;
}

.container_pricipal_info p {
    font-size: var(--lg);
    color: var(--white);
}

.container_secondary_info {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.container_secondary_info h2 {
    margin-right: 10px;
    color: var(--hospital-green);
}

.container_secondary_info p {
    font-size: var(--lg);
    color: var(--white);
}



/* Seccion de footer */
footer {
    height: 100px;
    background-color: var(--deep-ocean);
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.footer_logo img {
    height: 100px;
    position: absolute;
    left: 0;
}

.footer_central_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_info ul {
    display: flex;

}

.footer_info ul li {
    padding: 20px;
}

.footer_info ul li a {
    color: var(--white);
    font-size: var(--sm);
}

.footer_add_info p {
    color: var(--white);
    font-size: var(--sm);
}

.footer_redes {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}




/* Mobile */
@media (max-width:716px) {
    :root {
        --sm: 12px;
        --md: 14px;
        --lg: 16px;
        --ssm: 18px;
        --mmd: 22px;
        --llg: 24px;
    }

    .general_nav {
        display: inline-block;
        position: fixed;
        background-color: var(--deep-ocean);
        top: 90px;
        left: 0;
        bottom: 0;
        height: auto;
        width: 214px;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid var(--hospital-green-black);
        border-radius: 0 0 20px 0;
        overflow: auto;
    }

    .inactive_nav {
        display: none !important;
    }

    .second_nav {
        display: inline-block;
    }

    .opciones {
        display: block;
        margin: 0;
    }

    .menu_registros {
        left: 48px;
        top: 102px;
        z-index: 1;
    }

    .menu_perfil {
        position: static;
        background-color: var(--deep-ocean);
        border: 0;
    }

    .menu_perfil ul li {
        text-align: left;
    }

    .menu_perfil ul li a {
        color: var(--white);
    }

    .desktop-menu ul li:nth-child(2) {
        border-top: 0;
        padding: 0;
    }

    .email_nav_inactive {
        display: none !important;
    }

    .perfil {
        /* display: inline-block;  */
        bottom: 20px;
        padding-top: 12px;
        right: auto;
        border-top: 1px solid var(--hospital-green-black);
    }

    .navBar {
        justify-content: center;
        align-items: center;
    }

    .hamburgesa_menu {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 30px;
        margin-left: 20px;
    }

    .landscape {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    .landscape h1 {
        text-align: center;
        padding: 40px;
    }

    .title_bienvenida {
        bottom: auto;
    }

    .landscape p {
        margin: 38px;
    }

    .subtitle {
        text-align: center;
        padding: 20px 0 0px 0px;
    }

    .ejem_cards_info{
        padding-right: 0;
    }

    /* Ver protista */
    .container-resultados {
        margin-top: 104px
    }

    .container_ver_prot {
        height: 100%;
        max-width: 100%;
        position: fixed;
        top: 0px;
        margin-top: 0;
    }

    .container_pricipal_info {
        display: block;
    }
    .container_pricipal_info h2{
        text-align: left;
    }
    .principal_container_ver_prot {
        position: relative;
    }
    #img_protista {
        max-width: 300px;
    }
    footer {
        height: auto;
        align-items: center;
        text-align: center;
    }

    .footer_logo img {
        height: 115px;
        left: 0px;
        top: 0;
    }

    .footer_info ul {
        display: block;
    }

    .footer_redes {
        bottom: auto;
    }
}