/* Ajustes generales */
*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --hospital-green-black: #3bdb50;
    --deep-ocean: #0a0e16;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --ssm: 24px;
    --mmd: 28px;
    --llg: 32px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #0a0e16, #182735, #1b4255, #136073, #007f8c);
}
a {
    color: #000; 
    text-decoration: none; 
}
a:hover {
    text-decoration: none;
}
ul, li {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.inactive{
    display: none !important;
}
.active_nav a {
    color: var(--hospital-green-black) !important;
    font-weight: bold;
}
.hamburgesa_menu{
    display: none;
}
/* Cabezera y barra de navegacion */
.navBar{
    background-color: var(--deep-ocean);
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--very-light-pink);
    height: 70px;
    width: auto;
}
.navBar .logo{
    display: flex;
    height: 70px;
    align-items: center;
}
.navBar .logo p{
    color: var(--white);
}
.navBar .logo span{
    font-weight: bold;
    color: var(--hospital-green-black);
}
.navBar .logo img{
    height: 70px;
    position: relative;
}
.opciones{
    margin-left: 32px;
    width: auto;
}
.general_nav{
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    width: 100%;
}
.second_nav{
    display: flex;
}

.into_btn{
    padding: 10px;
}
.into_btn a{
    color: var(--very-light-pink);
}   
.into_btn a:hover{
    color: var(--hospital-green-black);
    font-weight: bold; 
}
.perfil{
    position: absolute;
    right:0;
    margin-right: 10px;
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
}
.perfil_email{
    display: flex;
}
.flecha_perfil{
    margin: 0 10px 0 10px;
    transform: rotate(90deg);
}
.icono_perfil{
    border: 3px solid var(--hospital-green-black);
    border-radius: 60%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    height: 40px;
}

/* Menu de registro y perfil */
.desktop-menu{
    width: 128px;
    height: auto;
    border: 1px solid 
    var(--very-light-pink);
    border-radius: 6px;
    padding: 10px 10px 0 10px;
    background-color: var(--white); 
    position: absolute;
}
.menu_registros{
    left: 142px;
    /* position: absolute; */
}
.menu_perfil{
    top:40px;
    right: 0;
    /* position: absolute; */
}
.menu_perfil ul li{
    text-align: end;
}
.menu_perfil ul li:not(2){
    font-weight: bold;
}
.desktop-menu ul li a{
    display: inline-block;
    margin-bottom: 18px;
    color: var(--black);
    text-decoration: none;
}
.desktop-menu ul li a:hover{
    color: var(--hospital-green-black);
}
.desktop-menu ul li:nth-child(2){
    padding-top: 20px;
    border-top: 1px solid 
        var(--very-light-pink);
}
.menu_perfil ul li:nth-child(2) a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
#nav_registros{
    cursor: pointer;
}


.container-title {
    margin-top: 90px;
    padding: 20px;
}

.title {
    color: var(--white);
    font-size: var(--llg);
}
.title_mis_reg{
    margin: 20px 0 20px 20px;
}


.subtitle {
    /* padding: 50px 0 0px 100px; */
    margin-bottom: 5px;
    font-size: var(--mmd);
    color: var(--white);
}

/* Barra de navegacion secundaria */
nav{
    height: 20px;
    background-color: var(--hospital-green-black);

}
nav a{
    padding-left: 20px;
    font-size: var(--sm);
    color: var(--black);
}
.nav_active{
    color: var(--white);
    padding: 0;  
}



/* Seccion de mis registros */
.mis_registros{
    margin: 100px auto 20px auto;
    display: block;
    min-height: 100vh;
}
.mis_registros_container{
    margin: 28px auto;
    display: block;
    overflow: hidden;
    box-shadow: 1px 2px 17px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 17px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 17px 10px rgba(0,0,0,0.75);
    background-color: var(--deep-ocean);
    height: auto;
    width: 90%;
    padding: 20px;
    border: 1px solid var(--white);
    border-radius: 20px;
    z-index: 1;
    /* margin: 12px 0 12px 0; */
}
.mis_registros_title{
    color: var(--hospital-green-black);
    font-size: var(--lg);
}

.mis_registros_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.mis_registros img{
    height: 125px;
    border: 1px solid var(--white);
    border-radius: 20px;
}

.registros_info{
    padding: 12px 4px 12px 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title_info_prot{
    
    padding-right: 4px;
    color: var(--hospital-green);
    font-size: var(--sm);
}
.registros_info h4{
    text-align: end;
}

.registros_info p {
    font-size: var(--sm);
    color: var(--white);
}

.aprobar{
    color: var(--hospital-green-black) !important;
}

.por_aprobar{
    font-weight: bold;
    color: #FF6699 !important;
}

.special_p{
    font-style: italic;
}

.detalles_mis_reg{
    font-size: var(--sm);
    color: var(--white);
    margin-bottom: 12px;
}
.column_img{
    margin: 0 auto;
    display: block;
}




/* Seccion de footer */
footer {
    height: 100px;
    background-color: var(--deep-ocean);
   
}
.container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_logo img {
    height: 100px;
    /* position: absolute;
    left: 0; */
}

.footer_central_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_info ul {
    display: flex;

}

.footer_info ul li {
    padding: 20px;
}

.footer_info ul li a {
    color: var(--white);
    font-size: var(--sm);
}

.footer_add_info p {
    color: var(--white);
    font-size: var(--sm);
    text-align: center;
}

.footer_redes {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
}



/* Mobile */
@media (max-width:716px) {
    :root {
        --sm: 12px;
        --md: 14px;
        --lg: 16px;
        --ssm: 18px;
        --mmd: 22px;
        --llg: 24px;
    }

    .general_nav{
        display: inline-block;
        position: fixed;
        background-color: var(--deep-ocean);
        top: 90px;
        left: 0;
        bottom: 0;
        height: auto;
        width: 214px;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid var(--hospital-green-black);
        border-radius: 0 0 20px 0;
        overflow: auto;
    }
      
    .inactive_nav{
        display: none !important;
    }
    .second_nav{
        display: inline-block;
    }
    .opciones{
        display: block;
        margin: 0;
    }
    .menu_registros {
        left: 48px;
        top: 102px;
        z-index: 1;
    }
    .menu_perfil{
        position: static;
        background-color: var(--deep-ocean);
        border: 0;
    }
    .menu_perfil ul li{
        text-align: left;
    }
    .menu_perfil ul li a {
        color: var(--white);
    }
    .desktop-menu ul li:nth-child(2){
        border-top: 0;
        padding: 0;
    }
    .email_nav_inactive{
        display: none !important;
    }
    .perfil{
        /* display: inline-block;  */
        bottom: 20px;
        padding-top: 12px;
        right: auto;
        border-top: 1px solid var(--hospital-green-black);
    }

    .navBar {
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }

    .hamburgesa_menu {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 30px;
        margin-left: 20px;
    }



    .landscape {
        height: auto;
        padding: 90px 0 20px 0;
        align-items: center;
    }

    .landscape h1 {
        text-align: center;
        margin: 0;
    }

    .landscape:nth-child(1) h1 {
        margin-top: 24px;
    }

    .landscape p {
        margin: 38px 38px 0 38px;
    }

    .mis_registros_info{
        grid-template-columns: 1fr 1fr;
    }
    .registros_info {
        grid-template-columns: 1fr;
    }
    .registros_info h4{
        text-align: left;
    }


    footer {
        height: auto;
        align-items: center;
    }
    .footer_info ul {
        display: block;
    }

    .footer_redes {
        bottom: auto;
    }
}