@import url('./general-login.css');
@import url('../examples.css');

.container-title {
    margin-top: 90px;
    padding: 20px;
}

.title {
    color: var(--white);
    font-size: var(--llg);
}

.subtitle {
    /* padding: 50px 0 0px 100px; */
    margin-bottom: 5px;
    font-size: var(--mmd);
    color: var(--white);
}

/* Barra de busqueda */
.land_busqueda {
    margin: 20px;
    height: 124px;
    /* position: relative; */
}

.land_busqueda form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.land_buscar_input {
    height: 44px;
    width: 544px;
    text-align: center;
    background-color: var(--text-input-field);
    font-size: var(--lg);
    border-radius: 20px 0 0 20px;
}

.land_btn_buscar {
    border-radius: 0 20px 20px 0;
}

.land_btn_buscar img {
    height: 20px;
}

.buscar_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hospital-green-black);
    height: 44px;
    width: 60px;
    font-size: var(--sm);
    border: none;
    font-family: 'Quicksand', sans-serif;
    color: var(--white);

}

.container-filtos {
    margin-right: 20px;
    padding: 8px;
    background-color: var(--hospital-green-black);
    border-radius: 20px;
    color: var(--white);
}

.filtros {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}

.container_option {
    padding: 10px 20px 10px 10px;
}

/* Resultados */
.container-resultados{
    min-height: calc(100vh - 450px);
}

.subtitle-resultados {
    padding: 20px;
}

/* Ver mas container */
.title_ver_prot {
    color: var(--hospital-green-black);
    font-size: var(--llg);
    font-style: italic;
}
.special_font{
    font-style: italic !important;
}

.subtitle_ver_prot {
    font-size: var(--lg);
    color: var(--black);
}

.principal_container_ver_prot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.ver_prot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.container_ver_prot {
    max-width: 700px;
    min-width: 300px;
    height: calc(100vh - 200px);
    padding: 24px;
    border-radius: 20px;
    background-color: var(--deep-ocean);
    overflow: auto;
    border: 1px solid var(--white);
}

#img_protista {
    margin: 10px auto;
    display: block;
    max-width: 400px;
    min-width: 150px;
    border-radius: 20px;
}

.ver_prot_inicio {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.ver_prot_inicio img {
    height: 20px;
    left: 20px;
    position: absolute;

}

.columns {
    display: flex;
    justify-content: space-around;
    background-color: #00cc0038;
    border-radius: 20px;
    padding: 10px 10px 0 10px;
}
.first_column{
    min-width: 50%;
}

.ver_prot_principal_info {
    margin-top: 20px;
}

.container_pricipal_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0 10px 0;
    /* justify-items: center; */

}

.container_pricipal_info h2 {
    margin-right: 10px;
    color: var(--hospital-green);
    text-align: end;
}

.container_pricipal_info p {
    font-size: var(--lg);
    color: var(--white);
}

.container_secondary_info {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.container_secondary_info h2 {
    margin-right: 10px;
    color: var(--hospital-green);
}

.container_secondary_info p {
    font-size: var(--lg);
    color: var(--white);
}


/* Sin resultados */
.sin_resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.sin_resultados h3 {
    font-size: var(--ssm);
    color: var(--very-light-pink);

}

.sin_resultados img {
    border-radius: 50%;
    height: 400px;
}


/* Mobile */
@media (max-width:716px) {
    /* busqueda y filtros */
    .land_busqueda {
        position: relative;
        height: 124px;
    }

    
    .container-filtos {
        position: absolute;
        margin-right: 0;
        width: 100%;
        top: 50px;
        margin-left: 0px;
        border-radius: 0 0 20px 20px;
    }

    .container_pricipal_info {
        display: block;
    }

    .land_buscar_input {
        border-radius: 20px 0 0 0;
    }

    .land_btn_buscar {
        border-radius: 0 20px 0 0;
    }
    
    /* Sin resultados */

    .sin_resultados img {
        height: 300px;
        width: 350px;
    }

    /* Ver protista */
    .container-resultados {
        margin-top: 104px
    }
    .container_ver_prot {
        max-width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        margin-top: 0;
    }
    .container_pricipal_info h2 {
        text-align: left;
    }
    .principal_container_ver_prot {
        position: relative;
    }
    #img_protista {
        max-width: 300px;
    }
}