/* Ajustes generales */
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --hospital-green-black: #3bdb50;
    --deep-ocean: #0a0e16;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --ssm: 24px;
    --mmd: 28px;
    --llg: 32px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #0a0e16, #182735, #1b4255, #136073, #007f8c);

}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.inactive {
    display: none !important;
}

.active_nav a {
    color: var(--hospital-green-black) !important;
    font-weight: bold;
    border: 2px solid var(--hospital-green-black);
    border-radius: 10px;
    padding: 10px;
}

.hamburgesa_menu {
    display: none;
}

.container-title {
    margin-top: 90px;
    padding: 20px;
}

.title {
    color: var(--white);
    font-size: var(--llg);
}

.subtitle {
    /* padding: 50px 0 0px 100px; */
    margin-bottom: 5px;
    font-size: var(--mmd);
    color: var(--white);

}

/* Cabezera y barra de navegacion */
.navBar {
    background-color: var(--deep-ocean);
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--very-light-pink);
    height: 70px;
    width: auto;
}

.navBar .logo {
    display: flex;
    height: 70px;
    align-items: center;
}

.navBar .logo p {
    color: var(--white);
}

.navBar .logo span {
    font-weight: bold;
    color: var(--hospital-green-black);
}

.navBar .logo img {
    height: 70px;
    position: relative;
}

.opciones {
    margin-left: 32px;
    width: auto;
}

.general_nav {
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    width: 100%;
}

.second_nav {
    display: flex;
}

.into_btn {
    padding: 10px;
}

.into_btn a {
    color: var(--very-light-pink);
}

.into_btn a:hover {
    color: var(--hospital-green-black);
    font-weight: bold;
    border: 2px solid var(--hospital-green-black);
    border-radius: 10px;
    padding: 10px;
}

.perfil {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
}

.perfil_email {
    display: flex;
}

.flecha_perfil {
    margin: 0 10px 0 10px;
    transform: rotate(90deg);
}

.icono_perfil {
    border: 3px solid var(--hospital-green-black);
    border-radius: 60%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    height: 40px;
}

/* Menu de registro y perfil */
.desktop-menu {
    width: 128px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 10px 10px 0 10px;
    background-color: var(--white);
    position: absolute;

}

.menu_registros {
    left: 163px;
}

.menu_perfil {
    top: 40px;
    left: 56px;
}

.menu_perfil ul li {
    text-align: end;
}

.menu_perfil ul li:not(2) {
    font-weight: bold;
}

.desktop-menu ul li a {
    display: inline-block;
    margin-bottom: 18px;
    color: var(--black);
    text-decoration: none;
}

.desktop-menu ul li a:hover {
    color: var(--hospital-green-black);
}

.desktop-menu ul li:nth-child(2) {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.menu_perfil ul li:nth-child(2) a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

#nav_registros {
    cursor: pointer;
}

/* Barra de navegacion secundaria */
nav {
    height: 20px;
    background-color: var(--hospital-green-black);

}

nav a:nth-child(1) {
    padding-left: 20px;
    color: var(--deep-ocean);
}

nav a {
    display: inline-block;
    font-size: var(--sm);
    color: var(--white);
}

/* Barra de busqueda */
.land_busqueda {
    margin: 20px;
    height: 124px;
    /* position: relative; */
}

.land_busqueda form {
    display: flex;
    align-items: center;
}

.land_buscar_input {
    height: 44px;
    width: 544px;
    text-align: center;
    background-color: var(--text-input-field);
    font-size: var(--lg);
    border-radius: 20px 0 0 20px;
}

.land_btn_buscar {
    border-radius: 0 20px 20px 0;
}

.land_btn_buscar img {
    height: 20px;
}

.buscar_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hospital-green-black);
    height: 44px;
    width: 60px;
    font-size: var(--sm);
    border: none;
    font-family: 'Quicksand', sans-serif;
    color: var(--white);

}

.container-filtos {
    /* position: absolute;
    top: 50px; */
    margin-left: 20px;
    padding: 20px;
    background-color: var(--hospital-green-black);
    border-radius: 20px;
    color: var(--white);
}

.filtros {
    display: flex;
    flex-wrap: wrap;
}

.container_option {
    padding: 10px 20px 10px 10px;
}

/* Resultados */
.subtitle-resultados {
    padding: 20px;
}

.ejemplos {
    background-image: url('../multimedia/fondo_ejem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ejem_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.ejem_cards_info {
    margin: 0 20px 20px 20px;
    padding-right: 20px;
    position: relative;
}

.ejem_cards_info p {
    background-color: var(--hospital-green-black);
    color: var(--white);
    padding: 8px;
}

.vermas {
    position: absolute;
    margin-right: 20px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(2, 49, 8, 0.609); */
    padding: 10px;
    border-radius: 20px 20px 0 0;
    color: var(--white);
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vermas:hover {
    opacity: 1;
}

.primary_btn {
    width: 50%;
    height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    background-color: var(--hospital-green-black);
    color: var(--white);
    font-weight: bold;
    font-size: var(--sm);
}

/* Ver mas container */
.title_ver_prot {
    color: var(--hospital-green-black);
    font-size: var(--llg);
}

.subtitle_ver_prot {
    font-size: var(--lg);
    color: var(--black);
}

.principal_container_ver_prot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ver_prot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.container_ver_prot {
    position: fixed;
    top: 0px;
    max-width: 700px;
    min-width: 300px;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--deep-ocean);
    overflow: auto;
    border: 1px solid var(--white);
    margin-top: 150px;
}

#img_protista {
    margin: 10px auto;
    display: block;
    max-width: 400px;
    min-width: 150px;
    border-radius: 20px;
}

.ver_prot_inicio {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.ver_prot_inicio img {
    height: 20px;
    left: 20px;
    position: absolute;

}

.columns {
    display: flex;
    justify-content: space-around;
    background-color: #330033;
    border-radius: 20px;
}


.ver_prot_principal_info {
    margin-top: 10px;
}

.container_pricipal_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    justify-items: center;

}

.container_pricipal_info h2 {
    margin-right: 10px;
    color: var(--hospital-green);
}

.container_pricipal_info p {
    font-size: var(--lg);
    color: var(--white);
}

.container_secondary_info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container_secondary_info h2 {
    margin-right: 10px;
    color: var(--hospital-green);
}

.container_secondary_info p {
    font-size: var(--lg);
    color: var(--white);
}



/* Sin resultados */
.sin_resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.sin_resultados h3 {
    font-size: var(--ssm);
    color: var(--very-light-pink);

}

.sin_resultados img {
    border-radius: 50%;
    height: 400px;
}


/* Seccion de footer */
footer {
    height: 100px;
    background-color: var(--deep-ocean);
   
}
.container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_logo img {
    height: 100px;
    /* position: absolute;
    left: 0; */
}

.footer_central_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_info ul {
    display: flex;

}

.footer_info ul li {
    padding: 20px;
}

.footer_info ul li a {
    color: var(--white);
    font-size: var(--sm);
}

.footer_add_info p {
    color: var(--white);
    font-size: var(--sm);
    text-align: center;
}

.footer_redes {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
}

/* Mobile */
@media (max-width:716px) {
    :root {
        --sm: 12px;
        --md: 14px;
        --lg: 16px;
        --ssm: 18px;
        --mmd: 22px;
        --llg: 24px;
    }

    .general_nav {
        display: inline-block;
        position: absolute;
        background-color: var(--deep-ocean);
        top: 90px;
        left: 0;
        height: 316px;
        width: 228px;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid var(--hospital-green-black);
        border-radius: 0 0 20px 0;
    }

    .inactive_nav {
        display: none !important;
    }

    .second_nav {
        display: inline-block;
    }

    .opciones {
        display: block;
        margin: 0;
    }

    .perfil {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        padding-top: 12px;
        right: auto;
        border-top: 1px solid var(--hospital-green-black);
    }

    .menu_registros {
        left: 48px;
        top: 102px;
        z-index: 1;
    }

    .menu_perfil {
        top: 32px;
        left: 59px;
    }

    .navBar {
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }

    .hamburgesa_menu {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 30px;
        margin-left: 20px;
    }

    /* busqueda y filtros */
    .land_busqueda {
        position: relative;
    }

    
    .container-filtos {
        position: absolute;
        top: 50px;
        margin-left: 0px;
        border-radius: 0 0 20px 20px;
    }

    .container_pricipal_info {
        display: block;
    }

    .land_buscar_input {
        border-radius: 20px 0 0 0;
    }

    .land_btn_buscar {
        border-radius: 0 20px 0 0;
    }

    .ejem_cards_info{
        padding-right: 0;
    }
    
    .container-resultados {
        margin-top: 104px
    }

    /* Sin resultados */

    .sin_resultados img {
        height: 300px;
        width: 350px;
    }

    /* Ver protista */
    .container_ver_prot {
        height: 100%;
        margin-top: 0;
    }
    .principal_container_ver_prot {
        position: relative;
    }

    footer {
        height: auto;
        align-items: center;
    }
/* 
    .footer_logo img {
        height: 115px;
        left: 0px;
        top: 0;
    } */

    .footer_info ul {
        display: block;
    }

    .footer_redes {
        bottom: auto;
    }
}